# myMovieReviews
myMovieReviews/venv/
myMovieReviews/db.sqlite3

# SWIDEA_SITE
SWIDEA_SITE/venv/
SWIDEA_SITE/db.sqlite3

# piro25_Pirostagram
piro25_Pirostagram/venv/
piro25_Pirostagram/db.sqlite3

# 공통
**/__pycache__/
*.pyc